/*--------------------------------------------------*\
  =Product Actions
\*--------------------------------------------------*/

.product-actions {



  /**
   * Elements
   */
  
  &__list {
    display: flex;
  }

  &__item {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }

  }

  &__link {
    display: block;
    position: relative;
    padding-left: 23px;
    white-space: nowrap;

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
      @include size(20px);
    }

  }

  &__counter {
    display: inline-block;
    @include size(22px);
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    transition: background-color $transition-base;
    border-radius: 100%;
  }

  &__text {
    display: none;
    font-size: 12px;
    margin-left: 10px;

    &:empty {
      display: none !important;
    }

  }



  /**
   * Modifiers
   */
  
  &--theme-base {

    .product-actions__link {

      &:hover {

        .product-actions__counter {
          background-color: color('brand');
        }

      }

    }

    .product-actions__counter {
      background-color: color('muted-light');
    }

  }


  &--theme-alt {

    .product-actions__link {

      &:hover {

        .product-actions__counter {
          background-color: color('brand');
        }

      }

      .icon {
        fill: white;
      }

    }

    .product-actions__counter {
      background-color: color('muted-dark');
    }

    .product-actions__text {
      color: color('muted');

      b {
        color: color('brand');
      }

    }

  }



  /**
   * MQ
   */
  
  @include mq(wide) {

    &__item {
      margin-left: 20px;
    }

    &__text {
      display: inline;
    }

  }

}